.project-card {
  text-align: center;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 600px;
}

.project-img {
  max-width: 300px;
  max-height: auto;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.project-text {
  text-align: center;
  padding: 10px;
  max-width: 40ch;
}
